{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

{% endblock %}


{% block body %}
    <header class="container" >
        <img src="" alt="arm met een plus teken boven zijn hand">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav ">
                <li class="nav-item">
                    <a class="navbar-brand" href="{{ path('home_page') }}">test</a>
                </li>
                <li class="nav-item active" >
                    <a class="nav-link" href="{{ path('home_page') }}">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('medicijnen_page') }}">medicijnen</a>
                </li>
    
            </ul>
            
        </nav>
    </header>
    <main class="container">
        {% if s is defined %}
            test
        {% endif %}
        {% block main %}
        {% endblock %}
    </main>

    <footer class="modal-footer">
        <p> ©Droppy01 ( Nederland / The Netherlands )</p>
        <img src="" alt="pinterest" class="pinterest">
        <img src="" alt="twitter" class="twitter">
        <img src="" alt="linked in" class="linked in">
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% endblock %}
